body {
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: black;
  padding: 10px 20px;
  z-index: 1000;
  display: flex;
  align-items: center;
}
.ta-center{
  text-align: center;
}
header img {
  width: 80px; /* Tamaño más pequeño del logo */
  margin-right: 10px;
}
header h1 {
  font-size: 24px;
  margin: 0;
}
.content {
  margin-top: 100px; /* Espacio para el header fijo */
  padding: 20px;
}
.main-video {
  width: 100%;
  height: calc(100vw * 9 / 16); /* Mantiene el formato 16:9 */
  display: block;
  border: none;
}
.playlist-section {
  margin: 50px 0;
}
.playlist-section h3 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: left;
}
.playlists-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}
.playlist-container {
  flex: 1 1 calc(50% - 20px);
  min-width: 300px;
}
footer {
  background-color: black; /* Mismo negro que el fondo */
  padding: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 50px;
}
footer img {
  width: 80px;
  margin-left: 10px;
}
footer span {
  font-size: 14px;
}